body {
  background-color: #cccccc;
  background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
}
.form {
  text-align: center;
  padding: 40px;
}
ul {
list-style-type: none;
text-align: left;
margin: 10px;
left: 10px;
}
h1 {
  text-align: center;
  color: #b231dc;
}
.fas {
  color: #ffd166;
  padding: 0px;
  margin: 0px;
  bottom: 0px;
  text-align: center;
}
h2 {
  text-align: center;
  color: #8338ec;
  margin: 0px;
}
.extra {
  color: #e029cb;
  text-align: center;
  top: 80px;
}
a {
  font-size: 10px;
}