body {
font-family: Bradley Hand, cursive	;
}
.form {
  text-align: center;
  padding: 0px;
}
.date {
  text-align: center;
  color: #e029cb;
}
ul {
list-style-type: none;
text-align: center;
margin: 10px;
center: 10px;
padding: 0px auto;
}
h1 {
  text-align: center;
  color: #b231dc;
  margin: 20px auto;
  padding: 0px auto;
  line-height: 28px;
  font-size: 35px;
}
.icon {
  padding: 0px;
  margin: 0px;
  bottom: 0px;
  height: 1px;
  text-align: center;
  width: 100px;
}
h2 {
  text-align: center;
  color: #8338ec;
  margin: 0px;
}
.temperature {
  padding: 0px auto;
  margin: 0px auto;
}
.units {
  font-size: 30px;
  display: block;
  text-align: center;
}

.extra {
  color: #e029cb;
  text-align: left;
  top: 80px;

}
a {
  font-size: 10px;
  text-align: center;
  color: #8338ec;
}
h3{
  text-align: center;
  color: #8338ec;
}
.weather-wrapping {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
  margin: 30px auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}