body {
    background-color: #bedcfa;
  }
  .form {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  h1 {
    color: #98acf8;
    text-align: center;
    font-size: 40px;
  }
  h1 i {
    color: #fdb827;
    display: block;
    text-align: center;
    size: 200px;
    display: inline-block;
    width: 100%;
  }
  .extra {
    color: #b088f9;
    position: static;
    font-size: 20px;
    top: 0px;
    left: 10px;
    text-align: right;
  }
  h2 {
    text-align: center;
    top: 200px;
    left: 100px;
    right: 100px;
    position: absolute;
    opacity: 0.5;
    color: #31326f;
  }
  h3 {
    text-align: center;
    color: #31326f;
  }
  